# local package
-e .

# external requirements
numpy==1.19.5
h2o==3.36.1.1
matplotlib==3.3.4
pandas==1.1.5
pyarrow==6.0.1

#awswrangler==2.14.0
#sqlalchemy==1.3.10
#sagemaker-experiments
#scipy
#scikit-learn
#imbalanced-learn==0.6.1
#flask
#gevent
#gunicorn
#xgboost==0.82
#seaborn==0.9.0
#boto3
#click
#coverage
#awscli
#flake8
#sagemaker
#shap==0.23.0
#bokeh
#tenacity==6.0.0

#python-dotenv>=0.5.1
#
